.footer {
	min-height: 55px;
	width: 100%;
	padding: 8px 20px;
	background-color: var(--bg-dark);
	display: flex;
}

@media screen and (max-width: 414px) {
	.footer {
		padding: 10px;
		background-color: var(--bg-light);
	}
}
